body{
    margin: 0;
    padding: 0;

    font-family: "Lucida Bright";
    ;
}

.username
{
    padding: 10px;
    margin: 5px;
    border-width: medium;
    border-radius: 30px;
    width: 280px;
    border-color: black;
    font-size: medium;
    font-weight: initial;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;

}
.text-box
{
    margin: 10px;
}
.password

{
    background: transparent;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    border-width: medium;
    width: 280px;
    border-color: black;
    position: absolute;
    font-size: medium;
    font-weight: initial;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
}
.Title
{
    font-family: "Lucida Bright";
    font-size: 80px;
    position: absolute;
    top: 25%;
    left: 20%;
    text-shadow: lightcyan;
    transform: translate(-50%,-50%);
}
.submit
{
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 140px;
    height: 40px;
    border-radius: 15px;
    border-color: transparent;
    position: absolute;
    background: tomato;
    color: black;
    font-family: "Lucida Bright";
    font-size: larger;
    font-weight: initial;


}
.title
{

    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-family: "Lucida Bright";
    font-size: larger;
    font-weight: bolder;
    font-size: 30px;
}
